<br>
<h4><%= link_to "New Event", new_event_path %></h4>


<% @events.each do |event| %>
  <%= event.presentable_date %> - <%= event.organization.name %> - <%= link_to event.name, event_path(event) %>
  <br>
<% end %>
