<h1>All Contacts</h1>
<%= render 'searchform' %>
<br>
<hr>
<% @contacts.each do |contact| %>
  <p><%= link_to contact.name, organization_path(contact.organization) %> - <%= contact.organization.name %></p>
<% end %>
