/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  a {
    color: black;
  }

  a:hover {
    color: #f3b6b3;
  }

 body {
   background-color: gray;
 }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 30px auto;
    max-width: 1260px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    font-family: 'Montserrat', sans-serif;
  }

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #e76d67;
 }

 nav li {
   float: left;
 }

 nav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 nav li a:hover {
   background-color: #f3b6b3;
 }

 .welcome {
   background-color: #e76d67;
   padding: 20px;
   color: white;
 }

.contacts {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(20px, auto);
 }

table {
   border-spacing: 20px 0;
 }

th {
  text-align: left;
}

.user {
  text-align: right;
  margin-right: 20px;
  color: white;
}

footer {
  text-align: center;
}

.field_with_errors  {
  color: red;
  font-style: italic;

}

#past-due {
  color: red;
}

li#past-due a {
  color: red; 
}
