<h1>List of Organizations</h1>
<%= render 'searchform' %>
<br>
<hr>
<table>
  <tr>
    <th>Organization</th>
    <th>Location</th>
  </tr>

  <% @organizations.each do |organization| %>
    <tr>
      <td><%= link_to organization.name, organization_path(organization) %></td>
      <td><%= organization.location %></td>
    </tr>
  <% end %>
</table>
